<h1><span>D</span>ialer <span>A</span>pp <i class="fas fa-phone-square"></i></h1>
<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="number" [ngClass]="{ error: !isValidNumber() && !isEmpty() }" class="form-control clearfix"
      id="form-number" (keyup)="isValidNumber() && isEmpty()" placeholder="Enter phone number..." required/>
  </div>
  <button type="button" [disabled]="!isValidNumber()" class="btn btn-outline-primary" (click)="call()">
    Call <i class="fas fa-phone-volume"></i>
  </button>
</div>
<div class="notification">
  <div class="alert alert-danger" [hidden]="isValidNumber() || isEmpty()">Incorrect phone number <i class="fas fa-exclamation-triangle"></i></div>
</div>
<div class="state">
  <i class="fas fa-info-circle"></i> Call status: {{ state }}
</div>
